.list-container {
  background-color: #F5F5F6;
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.2);
  width: 60%;
  margin-right: auto;
  margin-left: 20px;
  height: 40vh;
  max-height: 40vh;
  overflow-y: scroll;
}

.item {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); ;
  font-size: 20px;
  border-radius: 7px;
}

@media (max-width: 1024px) {
  .list-container {
    width: 90%;
    margin: auto;
  }
}
